<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
</head>
<body style="background-color:pink"> #DBF9FC
<nav class="navbar is-fixed-top is-dark">
    <div class="navbar-brand">
        <a class="navbar-item has-text-weight-bold is-size-4" href="#">
            ANDROID MALWARE ANDROID
        </a>
    </div>
</nav>
<div class="container" style="margin:25vh;padding:30px;position:fixed;">
    <h3 class="is-size-5">Phân loại APK</h3>
    <br>
    <form method="POST" enctype="multipart/form-data">
        <div class="field">
            <label class="label">Thuật Toán</label>
            <div class="control">
                <div class="select">
                    <select name="algorithm" class="selectpicker form-control">
                        {% for algorithm in algorithms %}
                        <option value="{{ algorithm }}">{{ algorithm }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <br>
        <div class="field">
            <label class="label"> Upload File</label>
            <div class="control">
                <div class="file">
                    <input type="file" name="file">
                </div>
            </div>
            <br>
            <input type="submit" class="button is-primary is-outlined is-small" value="Predict" class="form-control">
             </form>


    <div class="col ">
        <div style="position:fixed;top:30vh;left:50vw;width:300px">
            <h5 class="is-size-4">Output </h5>
            <br>
            <h6 class="is-size-6">Lớp Dự Đoán: &nbsp; {{ result }} </h6>
            <h6>Độ Chính Xác: {{ accuracy }} </h6>
            <hr>
            <h5 class="is-size-4">Metadata</h5>
            <br>
            <h6>Tên File: {{ name }} </h6>
            <h6>Phiên Bản SDK: {{ sdk }} </h6>
            <h6>File size: {{ size }} </h6>
        </div>
    </div>
</div>
</div>

</div>
</body>
</html>